body {
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: #c0c6d1;
}

.top-half {
	height: 50vh;
	background-color: #7c8087;
}

.profile {
	position: absolute;
	top: 35vh;
	left: 30vw;
	height: 30vh;
	width: 40vw;
	border-radius: 5px;
	-webkit-box-shadow:0 0 20px black; 
	-moz-box-shadow: 0 0 20px black; 
	box-shadow:0 0 20px black;
	color: black;
	background: repeating-linear-gradient(
		60deg,
		#eaeaea,
		#eaeaea 170px,
		white 20px,
		white 470px
	);
}

.image {
	position: absolute;
	left:1vw;
	top: 1vh;
	background-image: url('../static/IMG_0147.jpg');
	
	display: inline-block;
	width: 160px;
	height: 160px;
	border-radius: 50%;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.name {
	position: absolute;
	left: 15vw;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
}

.occupation {
	position: absolute;
	left: 15vw;
	font-family: 'Open Sans', sans-serif;
	top: 6vh;
	font-size: 20px;
	font-style: italic;
}

.bio {
	position: relative;
	left: 15vw;
	font-family: 'Open Sans', sans-serif;
	top: 14vh;
	left: 50px;
	width: 40vw;
	font-size: 19px;
}

.bio p {
	position: relative;
	left: 11vw;
	margin: 0;
	padding: 0;
}

.links {
	position: absolute;
	top: 65vh;
	left: 35vw;
	height: 5vh;
	width: 30vw;
	background-color: #8eb9ff;
	border-radius: 5px;
	-webkit-box-shadow:0 0 20px black; 
	-moz-box-shadow: 0 0 20px black; 
	box-shadow:0 0 20px black;
	color: black;
	background: repeating-linear-gradient(
		60deg,
		#eaeaea,
		#eaeaea 170px,
		white 20px,
		white 470px
	);
	display: flex;
	justify-content: space-between;
}

.links a {
	padding-top: 1%;
    padding-left: 5%;
	padding-right: 5%;
	color: black;
}

.links a:visited {
	color: black;
}

.links a:hover {
	opacity: .5;
}