<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Seth</title>
</head>
<body>
	<div class="top-half">

	</div>
	<div class="links">
		<a href='../static/Seth Brunwasser Resume.pdf'><i class="fa fa-file-pdf-o" style="font-size:24px"></i></a>
		<a href='http://www.github.com/sethbrunwasser'><i class="fa fa-github" style="font-size:24px"></i></a>
		<a href='http://www.linkedin.com/in/sethbrunwasser'><i class="fa fa-linkedin" aria-hidden='true' style="font-size:24px"></i></a>
		<a href='mailto:sbrunwasser1998@gmail.com'><i class="fa fa-envelope-o" style="font-size:24px"></i></a>
		<a href='http://www.soundcloud.com/sethybrunes'><i class="fa fa-soundcloud" style="font-size:24px"></i></a>
		
	</div>
	<div class="profile">
		<div class="image">

		</div>
		<div class="name">
			Seth Brunwasser
		</div>
		<div class="occupation">
			Machine Learning Engineer
		</div>
		<div class="bio">
			<p>
				Welcome!
			</p>
			<p>
				Below you can find links to my sites
			</p>
			<p>
				across the web as well as my resume.
			</p>
		</div>
	</div>
</body>
</html>